cuPHY-CP/cuphycontroller/config/*_dyncore.yaml
cuPHY-CP/testMAC/testMAC/*_dyncore.yaml
testVectors/*.h5
testVectors/multi-cell/*.yaml
.cache/
.vscode/
.idea/
build*/
cmake-build-*/# Large binary files
cuPHY/install/
cuPHY/venv/
*.so
*.a
__pycache__/
*.pyc
